[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "1.6.1"
matplotlib = "3.10.0"
tensorflow = "2.18.0"
pmdarima = "2.0.4"
numpy = "==1.26.4"
pandas = "*"
seaborn = "*"
keras-tuner = "*"

[dev-packages]

[requires]
python_version = "3.10"
